<head>
  <title>Buzz!</title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>Which player are you?</h1>
  <ul>
    <li><a href="/buzz/buttons/1">Player 1</a></li>
    <li><a href="/buzz/buttons/2">Player 2</a></li>
    <li><a href="/buzz/buttons/3">Player 3</a></li>
    <li><a href="/buzz/buttons/4">Player 4</a></li>
    <li><a href="/buzz/buttons/5">Player 5</a></li>
    <li><a href="/buzz/buttons/6">Player 6</a></li>
    <li><a href="/buzz/buttons/7">Player 7</a></li>
    <li><a href="/buzz/buttons/8">Player 8</a></li>
  </ul>
</body>
